<h1><i class="fas fa-hamburger"></i></h1>
<form action="/burger" method="POST">
    <input class="form-control" type="text" name="burger_name" value="" id="burger-input">

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div>
    {{#each burger_data}}
        <h1>{{this.burger_name}}</h1>
    {{/each}}
</div>