<h1><i class="fas fa-hamburger"></i></h1>
<input class="form-control" type="text" readonly>
<form>
    <br>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>